<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Facebook -->
  <li class="navigation__item">
    <a href="https://www.facebook.com/uthoft.jin" title="Jin's Facebook" target="_blank">
      <i class='social fa fa-facebook'></i>
      <span class="label">Facebook</span>
    </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/KelvinJin" title="Jin's Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Linkedin -->
  <li class="navigation__item">
    <a href="https://www.linkedin.com/in/uthoftjin" title="Jin's Linkedin" target="_blank">
      <i class='social fa fa-linkedin'></i>
      <span class="label">Linkedin</span>
    </a>
  </li>

  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:jinw1990@gmail.com" title="Email Me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>
